  <nav id="navbar" class="navbar">
        <ul>
          <li><a class="{% if active_tab == 0 %} active {% endif %}" href="/">Home</a></li>
          <li><a class="{% if active_tab == 1 %} active {% endif %}" href="/about">About</a></li>
          <li><a  class= "{% if active_tab == 2 %} active {% endif %}" href="/services">Services</a></li>
          <li><a class="{% if active_tab == 3 %} active {% endif %}"href="/portfolio">Portfolio</a></li>
          <li><a class="{% if active_tab == 4 %} active {% endif %}"href="/team">Team</a></li>
        
          <li><a class="{% if active_tab == 5 %} active {% endif %}"href="/contact">Contact Us</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->
