{% extends 'tally/base.html' %}

{% block content %}
  <div class="d-flex justify-content-end align-items-center mb-3">

    <div class="header-action">
      <a href="{% url 'users:create' %}" class="btn btn-outline-primary"><i
        class="fa fa-plus mr-2"></i>New Valuer
      </a>
    </div>
  </div>
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h4 class="card-title">Valuers List</h4>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">National ID</th>
            <th scope="col">Action</th>
          </tr>
          </thead>
          <tbody>
          {% for valuer in valuers %}
            <tr>
              <th>{{ forloop.counter }}</th>
              <td>{{ valuer.name }}</td>
              <td>{{ valuer.national_id }}</td>
              <td>
                <a href="{% url 'users:update' valuer.pk %}" class="mr-3"><i class="fa fa-edit text-success"></i></a>
                <a href="{% url 'users:delete' valuer.pk %}" class=""><i class="fa fa-trash text-danger"></i></a>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}